#station-list {
	width: 200px;
	float: left;
}

.chart {
  font: 10px sans-serif;
}

.chart .axis path,
.chart .axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.chart .x.axis path {
  display: none;
}

.chart .line {
  fill: none;
  stroke-width: 1.5px;
}