#wrapper > .container {
	margin: 24px auto;
}

.navbar > .container,
#wrapper > .container {
	max-width: 1000px;
}

#login.container {
	max-width: 300px;
}

#login input {
	margin-bottom: 10px;
}

#login p.bg-danger {
	padding: 10px 15px;
}

#map svg {
	background-color: #333;
}

#map .country {
	fill: #111;
}

#map .borders {
	fill: none;
	stroke: #333;
	stroke-width: 1px;
	stroke-linejoin: round;
	opacity: 0.6;
}

#map .sea {
	fill: #333;
	opacity: 0.6;
}

#map .station {
	opacity: 0.4;
}

#map .hexagon {
	opacity: 1;
	stroke: #000;
	stroke-width: 1px;
}