#login.container {
	max-width: 300px;
}

#login input {
	margin-bottom: 10px;
}

#login p.bg-danger {
	padding: 10px 15px;
}

#map svg {
	background-color: #92B4CA;
}

#map .country {
	fill: #CED8B6;
}

#map .borders {
	fill: none;
	stroke: #9DA58B;
	stroke-width: 1px;
	stroke-linejoin: round;
	opacity: 0.6;
}

#map .sea {
	fill: #92B4CA;
	opacity: 0.6;
}

#map .station {
	opacity: 0.4;
}

#map .hexagon {
	opacity: 0.85;
}