#wrapper > .container {
	margin: 24px auto;
}

.navbar > .container,
#wrapper > .container {
	max-width: 1000px;
}

#login.container {
	max-width: 300px;
}

#login input {
	margin-bottom: 10px;
}

#login p.bg-danger {
	padding: 10px 15px;
}

#map {
	width: 970px;
	height: 600px;
}

#map svg {
	background-color: #92B4CA;
}

#map .country {
	fill: #CED8B6;
}

#map .borders {
	fill: none;
	stroke: #333;
	stroke-width: 1px;
	stroke-linejoin: round;
	opacity: 0.2;
}

#map .sea {
  fill: #92B4CA;
	opacity: 0.6;
}

#map .station {
	opacity: 0.4;
}

#map .hexagon {
	opacity: 1;
	stroke: #000;
	stroke-width: 1px;
	cursor: pointer;
}

#map-loader {
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: -10px;
	margin-left: -24px;
}

#map-loader b {
	-webkit-animation: spin 2s infinite linear;
	-moz-animation: spin 2s infinite linear;
	-o-animation: spin 2s infinite linear;
	animation: spin 2s infinite linear;
}

#map-tooltip {
	display: block;
	display: none;
	position: absolute;
	color: #fff;
	font-size: 12px;
	margin: 15px 0 0 10px;
	padding: 5px;
	border-radius: 3px;
	background-color: rgba(0,0,0,0.4);
	z-index: 9999;
}

#map-legend {
	display: block;
	position: absolute;
	bottom: 20px;
	right: 10px;
	height: 10px;
	width: 200px;
}

@-moz-keyframes spin {
	0% {
		-moz-transform: rotate(0deg);
	}
	100% {
		-moz-transform: rotate(359deg);
	}
}
@-webkit-keyframes spin {
	0% {
		-webkit-transform: rotate(0deg);
	}
	100% {
		-webkit-transform: rotate(359deg);
	}
}
@-o-keyframes spin {
	0% {
		-o-transform: rotate(0deg);
	}
	100% {
		-o-transform: rotate(359deg);
	}
}
@keyframes spin {
	0% {
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	100% {
		-webkit-transform: rotate(359deg);
		transform: rotate(359deg);
	}
}