<template name="home">
	<nav class="navbar navbar-default navbar-static-top" role="navigation">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="/">Baltic Sea Weather Data</a>
			</div>
			<div class="collapse navbar-collapse">
				<div class="btn-group" data-toggle="buttons">
					<label class="btn btn-default navbar-btn" id="toggle-world">
						<input type="radio" name="map-toggle"> World
					</label>
					<label class="btn btn-default navbar-btn" id="toggle-baltic">
						<input type="radio" name="map-toggle"> Baltic Sea
					</label>
				</div>
				<ul class="nav navbar-nav pull-right">
					<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown"><b class="glyphicon glyphicon-download"></b> Export <b class="caret"></b></a>
						<ul class="dropdown-menu">
							<li><a id="export-day" href="#">Day</a></li>
							<li><a id="export-week" href="#">Week</a></li>
							<li><a id="export-month" href="#">Month</a></li>
						</ul>
					</li>
					<li><a href="/logout"><b class="glyphicon glyphicon-log-out"></b> Logout</a></li>
				</ul>
			</div>
		</div>
	</nav>
	<div id="wrapper">
	 	<div class="container">
			<div class="row">
				<div class="col-md-12">
					{{> map}}
				</div>
			</div>
		</div>
		{{> graph}}
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="well well-sm text-center">
						2014 &copy; UNWDMI, Da Vinci Data. Project by Tom Broenink, Ward Holthof, Yuri Hoogeweg, André Nanninga, and Maurits van Mastrigt.
					</div>
				</div>
			</div>
		</div>
	</div>
</template>