<template name="legend">
	{{#if stations }}
	<h3>Filter</h3>
	<div id="graph-controls">
		<div class="btn-group" data-toggle="buttons">
			<!-- <label class="btn btn-default navbar-btn" id="toggle-graph-hour">
				<input type="radio" name="map-toggle"> Hour
			</label> -->
			<label class="btn btn-default navbar-btn active" id="toggle-graph-day">
				<input type="radio" name="map-toggle" checked> Day
			</label>
			<label class="btn btn-default navbar-btn" id="toggle-graph-week">
				<input type="radio" name="map-toggle"> Week
			</label>
			<label class="btn btn-default navbar-btn" id="toggle-graph-month">
				<input type="radio" name="map-toggle"> Month
			</label>
		</div>
	</div>
	<h3>Legend</h3>
	<div id="graph-legend">
		{{#if hasAtLeastTwoStations}}
		<div class="station">
			<input class="toggle all" type="checkbox" checked="checked"/>
			<span style="background-color:white"></span>
			All
		</div>
		{{/if}}
		{{#each stations}}
		<div class="station" data-stn="{{ stn }}">
			<input class="toggle" type="checkbox" checked="checked"/>
			<span style="background-color:{{ color }}"></span>
			{{fixCasing name }}
		</div>
		{{/each}}
	</div>
	{{/if}}
</template>