<template name="loading">
	<div class="container-fluid well">
		<h1>Weather stations near Vilnius, Lithuania</h1>
		<button id="search" class="btn" data-km="50">50KM</button>
		<button id="search" class="btn" data-km="100">100KM</button>
		<button id="search" class="btn" data-km="150">150KM</button>
		<button id="search" class="btn" data-km="200">200KM</button>
		<button id="search" class="btn" data-km="500">500KM</button>
		<button id="search" class="btn" data-km="1000">1000KM</button>
		<button id="search" class="btn" data-km="1500">1500KM</button>

		<h3>Loading</h3>

	</div>
</template>